@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-background: #2c3639;
  --sidebar-item-background: #145264;
  --background-color: #1d2136;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2e7f3;
}

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(max-content, auto) 2fr;
}
