@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Background Colors */
  --primary-dark: #003747;
  --secondary-dark: #145264;
  --primary-light: #E5E7EB;
  --secondary-light: #F3F4F6;

  /* Border Colors */
  --border-dark: #64748B;
  --border-light: #c3c8ce;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  font-family: var(--font-primary), sans-serif;
  height: 100vh;
  width: 100vw;
  line-height: 1.4;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(max-content, auto) 2fr;
}
